/* Color palette */
$primary: #1c578a;
$secondary: #2a7ab0;
$tertiary: #4e5b73;
$quaternary: #333333;

$black: #222;
$white: #fff;
$grey: #edeef1;

/* Secondary color */
$color1: #006fbf;
$color2: #6396bb;

/* Question set */
$good-light: #C9ECC9;
$good: #009100;

$wrong-light: #FFA3A3;
$wrong: #a81b1b;

/* Disabled */
$disabled: #8C95A4;